@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    width: 100%;
}

/* ========== Typography ========== */

/* ===== Header ===== */
.header-logo {
    width: 125px;
    margin-left: 2rem;
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
}

li a {
    text-decoration: none;
    margin-right: 2rem;
    color: #fff;
}

li a:hover {
    text-decoration: underline;
    color: #929090;
}

/* ===== Hero ===== */
.hero {
    background-image: url('https://images.unsplash.com/photo-1607706189992-eae578626c86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    text-shadow: 2px 2px black;
}

.hero-wrapper a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.hero-wrapper a:hover {
    text-decoration: underline;
    color: #929090;
}

.hero-text {
    line-height: 1.5;
}

.hero-date,
.hero-title {
    padding-bottom: .5rem;
}

/* ===== Main ===== */

.blog-date {
    font-size: .875rem;
    text-transform: uppercase;
    margin: .875rem 0;
}

.blog-title {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.blog-title:hover {
    text-decoration: underline;
    color: #929090;
    cursor: pointer;
}

.blog-text {
    margin-top: .563rem;
}

/* ===== Footer ===== */
.footer-text {
    font-size: .9rem;
}

.copyright {
    font-size: .75rem;
    color: #929090;
}


/* ========== Layout ========== */

/* ===== Header ===== */

header {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    max-width: 1920px;
    margin: 0 auto;
}

/* ===== Hero ===== */

.hero-wrapper {
    padding: 2rem;
    width: 500px;
}

/* ===== Main ===== */

.main-container {
    padding: 3.3rem 3.3rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 2vw;
    max-width: 1920px;
    margin: 0 auto;
}

.main-container img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#more-btn {
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: .85rem;
    font-weight: bold;
    padding: .1rem;
    text-align: center;
    margin-bottom: 3.3rem;
}

#more-btn:hover{
    cursor: pointer;
    color: grey;
}

/* ===== Article ===== */

article {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 0;
}

article img {
    max-width: 1200px;
    padding: 0 3.3rem;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.article-subcontainer-top,
.article-subcontainer-bottom {
    max-width: 900px;
}

.article-subcontainer-top {
    margin-bottom: 2.25rem;
}

.article-subcontainer-bottom {
    margin-bottom: 4rem;
}

.article-date {
    margin: 4.438rem 0 1.5rem 0 ;
}

.article-header {
    margin-bottom: 1.688rem;
}

.article-desc {
    margin-bottom: 0;
}

.article-title {
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
}

.article-text {
    margin-bottom: 1rem;
}

/* ===== About Me ===== */

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column img {
    height: 150px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.about-me-article {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 5.687rem;
}

.about-me-upper-container,
.about-me-lower-container {
    max-width: 1100px;
    margin: 0 auto;
}

.about-me-upper-container {
    padding-right: 2rem;

}

.about-me-lower-container {
    padding: 0 7.5rem;
}

.recent-posts {
    text-align: center;
}

/* ===== Footer ===== */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

@media (max-width: 550px) {
    body {
        font-size: 14px;
    }

    .main-container {
        grid-template-columns: 1fr;
        padding: 1.5rem 1rem;
    }

    .blog-text {
        margin-bottom: .5rem;
    }

    .article-title {
        margin-bottom: .5rem;
    }

    article img {
        padding: 0;
    }

    .article-date {
        margin-top: 1rem;
    }

    .article-subcontainer-bottom {
        margin-bottom: 2rem;
    }

    .columns {
        flex-direction: column;
    }

    .column img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .about-me-upper-container {
        padding: 0 1rem;
    }

    .about-me-lower-container {
        padding: 0 1rem;
    }

    .about-title {
        margin-bottom: .5rem;
    }

    .about-me-article {
        margin-top: 2rem;
    }
}
